@charset "UTF-8";
/*fixed spacing*/
/*spacing*/
/*line-height*/
body {
  font-family: "BIZ UDPGothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1.c-pageTitle {
  display: none;
}

.l-mainContent__inner > .post_content {
  margin: 1rem 0;
}

.swiper-button-next,
.swiper-button-prev {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

h1.ex-archive__title,
h1.news-archive__title,
h1.member-archive__title,
h1.p-archive__title {
  font-family: "Noto Sans JP", sans-serif !important;
  font-size: 62px;
  color: #1C69AE;
  font-weight: bold;
  letter-spacing: -0.05rem;
  line-height: 4rem;
}

h1.p-archive__title {
  font-size: 32px;
}

@media screen and (max-width: 511.98px) {
  h1.ex-archive__title {
    font-size: 42px;
  }
}
.custom-h2 span.swl-fz {
  font-family: "Noto Sans JP", sans-serif !important;
  letter-spacing: -0.1rem;
  line-height: 4rem;
}

@media screen and (max-width: 511.98px) {
  #top_service .custom-h2 span.swl-fz {
    font-size: 52px !important;
  }
}
h2 {
  letter-spacing: 0.05rem;
}

h3.custom-h3,
h4.custom-h4 {
  font-size: 26px;
  color: #1C69AE;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(90deg, #1C69AE 0 20%, #dedede 20%);
  background-repeat: no-repeat;
  background-size: 100% 5%;
  background-position: bottom;
}
h3.custom-h3 span,
h4.custom-h4 span {
  letter-spacing: 0.08rem;
}

@media screen and (min-width: 1280px) {
  h3.custom-h3 {
    white-space: nowrap;
  }
}
@media screen and (max-width: 1023.98px) {
  h4.custom-h4 {
    font-size: 18px !important;
    padding-bottom: 0.5rem;
  }
}
@media screen and (max-width: 1279.98px) {
  h3.custom-h3 span.swl-fz {
    font-size: 21px !important;
  }
}
@media screen and (max-width: 1023.98px) {
  h3.custom-h3 span.swl-fz {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1023.98px) {
  h3.custom-h3 span.swl-fz {
    font-size: 17px !important;
  }
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: none !important; /* フェードなどのアニメーションを無効化 */
}

/* ページ上部の余白を確保（ヘッダー高さ分） */
body {
  padding-top: var(--header-height, 50px); /* ヘッダー高さに合わせて調整 */
}

@media screen and (max-width: 1023.98px) {
  body {
    padding-top: var(--header-height, 69px); /* ヘッダー高さに合わせて調整 */
  }
}
/* SWELLのページネーション横並び修正 */
.c-pagination .nav-links {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
}

.c-pagination .page-numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
}

.c-pagination .page-numbers.current {
  background: #1e73be;
  color: #fff;
  border-color: #1e73be;
}

@media screen and (min-width: 512px) {
  .spbr {
    display: none;
  }
}
@media screen and (max-width: 511.98px) {
  .spbr {
    display: block;
  }
}
#before_footer_widget.w-beforeFooter {
  background-image: linear-gradient(45deg, #1967b1, #0788c4) !important;
}

.l-footer__foot {
  display: none;
}

.footer_nav {
  background-image: linear-gradient(45deg, #1967b1, #0788c4) !important;
  padding-top: 2rem !important;
}
.footer_nav .wp-block-columns:first-child {
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

@media screen and (max-width: 767.98px) {
  .footer_nav .wp-block-image img {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
}
/*投稿ページのパンくずに投稿タイトルも表示*/
.single .p-breadcrumb__item:last-child > span.p-breadcrumb__text {
  display: block;
}

/*投稿ページ下部カテゴリ表示*/
.p-articleMetas.-bottom {
  display: none;
}

/* 追従バナー */
/* 追従バナー：基本スタイル＋初期は非表示 */
.follow-banner {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}
.follow-banner a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  writing-mode: vertical-rl;
  color: #fff;
  background-color: #FB7B9D !important;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 2em 1em;
  border-radius: 10px 0 0 10px;
  transition: opacity 0.5s;
}
.follow-banner a:hover {
  opacity: 0.7;
}
.follow-banner .swl-inline-icon::after {
  left: 50%;
  transform: translateX(-50%);
}

/* 表示状態 */
.follow-banner.is-show {
  opacity: 1;
  pointer-events: auto;
}

/* SP は非表示のまま */
@media screen and (max-width: 1023.98px) {
  .follow-banner {
    display: none;
  }
}
.c-gnav .menu-item span.ttl {
  color: #6d6d6d;
}

#gnav .sub-menu > li > a {
  white-space: nowrap;
}

/* サブメニュー全体を親メニューの左に揃える */
#gnav .menu-item-has-children > .sub-menu {
  left: 0;
  transform: none;
}

#gnav .menu-item-has-children > .sub-menu {
  width: auto; /* 内容に合わせて伸びる */
  min-width: 240px; /* これだけ下限として指定 */
}

.header-cta-tel .header-cta-tel-notice {
  font-size: 10px;
  line-height: 1rem !important;
}

#header-cta-tel-number span.swl-inline-icon {
  color: #1C69AE;
}

.l-header {
  padding: 10px 0;
}

div.l-header__inner.l-container {
  padding: 0;
}

div.l-fixHeader__inner.l-container {
  padding: 0;
}

@media screen and (min-width: 512px) and (max-width: 1279.98px) {
  div.l-header__inner.l-container ul.c-gnav {
    gap: 5px;
  }
  div.l-header__inner.l-container .c-gnav .menu-item:nth-child(6) span.ttl {
    background-color: #13ACAF;
    border-radius: 4px;
    color: white;
    padding: 10px 1rem;
  }
}
@media screen and (max-width: 1279.98px) {
  div.l-header__inner.l-container {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .-body-solid .p-breadcrumb.-bg-on {
    margin-top: 30px !important;
  }
}
@media screen and (min-width: 1024px) {
  ul.c-gnav {
    gap: 20px;
  }
  .c-gnav .menu-item span.ttl {
    font-weight: normal;
    font-weight: 12px;
    letter-spacing: 2px;
  }
  .c-gnav .menu-item:nth-child(6) span.ttl {
    font-weight: 700;
    padding: 15px 1rem;
    background-color: #13ACAF;
    border-radius: 4px;
    color: white;
  }
  .c-gnav .menu-item:nth-child(6) span.ttl:hover {
    background-color: #64bdbe;
    transition-duration: 0.5s;
  }
  .c-gnav .sub-menu {
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    isolation: isolate;
  }
  .-body-solid .p-breadcrumb.-bg-on {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1536px) {
  .l-header {
    padding: 0;
  }
  .-series .l-header__inner {
    max-width: 90%;
    height: 80px;
  }
  .c-gnav .menu-item span.ttl {
    font-weight: 700;
    font-size: 14px !important;
  }
  .c-gnav .menu-item:nth-child(6) span.ttl {
    padding: 15px 2rem;
    border-radius: 8px;
  }
  .-body-solid .p-breadcrumb.-bg-on {
    margin-top: 30px;
  }
}
.p-spMenu__body {
  top: 50px;
}
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-38 > a::before,
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-39 > a::before {
  content: none;
}
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-38 > a:hover,
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-39 > a:hover {
  background-color: white;
  padding-left: 1.5em;
}
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-419 > a,
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-38 > a,
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-39 > a,
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-680 > a,
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-41 > a,
.p-spMenu__body .p-spMenu__nav ul.c-listMenu li.menu-item-252 > a {
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  #main_visual .p-mainVisual__inner .swiper-wrapper .p-mainVisual__slide {
    width: 100%;
    height: auto;
  }
}
.MV01_cta01 {
  position: relative;
  top: 7rem;
  z-index: 10;
}

@media screen and (min-width: 1536px) {
  .MV01_cta01 {
    top: 10rem;
  }
}
.MV01_cta02 {
  position: relative;
  top: 1rem;
  right: 5rem;
}

@media screen and (min-width: 1536px) {
  .MV01_cta02 {
    right: 10rem;
  }
}
@media screen and (max-width: 767.98px) {
  .MV01sp_ctas {
    position: relative;
    top: 12rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .MV01sp_ctas {
    position: relative;
    top: 15rem;
  }
}
.wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link {
  background-color: rgba(15, 42, 106, 0.7);
}

.MV02sp_cta .wp-block-button__link,
.MV03sp_cta .wp-block-button__link {
  background-color: rgba(15, 42, 106, 0.7);
}

@media screen and (min-width: 1536px) {
  .MV02_cta {
    position: relative;
    top: 13rem;
    left: 8rem;
    height: 100px;
  }
  .MV02_cta a.wp-block-button__link {
    height: 100px;
    width: 165% !important;
  }
  .MV02_cta a.wp-block-button__link strong {
    font-size: 32px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 1850px) and (min-width: 1536px) {
  .MV02_cta {
    top: 15rem;
    left: 0;
  }
}
@media screen and (max-width: 1850px) and (min-width: 1536px) {
  .wp-block-buttons > .wp-block-button.has-custom-width .wp-block-button__link {
    height: 90px;
  }
}
@media screen and (max-width: 1850px) and (min-width: 1536px) {
  .MV03_cta a.wp-block-button__link strong,
  .MV02_cta a.wp-block-button__link strong {
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535.98px) {
  .MV02_cta {
    position: relative;
    top: 12rem;
    left: 5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .MV02_cta {
    position: relative;
    top: 7rem;
  }
}
@media screen and (max-width: 1023.98px) {
  .MV02sp_cta {
    position: relative;
    top: 12rem;
  }
}
@media screen and (min-width: 1536px) {
  .MV03_cta {
    height: 100px;
    position: relative;
    right: 5rem;
  }
  .MV03_cta a.wp-block-button__link {
    height: 100px;
    width: 550px !important;
  }
  .MV03_cta a.wp-block-button__link strong {
    font-size: 32px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .MV03_cta {
    height: 50px;
    position: relative;
  }
  .MV03_cta a.wp-block-button__link {
    height: 50px;
    width: 400px !important;
    margin-left: 1rem;
  }
  .MV03_cta a.wp-block-button__link strong {
    position: relative;
    bottom: 5px;
  }
}
@media screen and (max-width: 1023.98px) {
  .MV03sp_cta {
    position: relative;
    top: 12rem;
  }
}
.top_leadtxt span.swl-fz {
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 1023.98px) {
  .top_leadtxt span.swl-fz {
    font-size: 14px !important;
  }
}
#top_service p {
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 1023.98px) {
  #top_service p {
    font-size: 14px;
  }
}
.companyinfo-row p.table-label {
  letter-spacing: 0.2rem;
  white-space: nowrap;
}
.companyinfo-row p.table-info {
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
}

@media screen and (max-width: 1023.98px) {
  .companyinfo-row p.table-label {
    margin-top: 0.5rem !important;
    font-weight: 700;
  }
  .companyinfo-row p.table-info {
    margin-left: 1rem;
  }
}
.news-item__meta {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
  color: #6b7280;
  font-size: 12px;
}
.news-item__meta span.news-item__cats i.fa-solid.fa-folder {
  margin-right: 5px;
}

.archive h1.c-pageTitle {
  display: block;
}
.archive h1.c-pageTitle span.c-pageTitle__inner {
  color: #1C69AE;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(90deg, #1C69AE 0 20%, #dedede 20%);
  background-repeat: no-repeat;
  background-size: 100% 5%;
  background-position: bottom;
}

.archive .p-termContent {
  margin-top: 1rem;
}

.archive .p-postList.-type-simple {
  border-top: none;
}

.massage_container {
  background-image: url(https://miraiarc.co.jp/wp-content/uploads/2025/12/massage_bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.massage_container .massage_container_content,
.massage_container .massage_container_signature {
  width: 80%;
  margin: 0 auto;
}
.massage_container .massage_container_content p {
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

@media screen and (min-width: 1536px) {
  .massage_container {
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media screen and (min-width: 1536px) {
  .massage_container {
    aspect-ratio: inherit;
  }
  .massage_container_content p {
    font-weight: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .massage_content_sp {
    letter-spacing: 0.05rem;
    line-height: 2rem;
  }
}
.contact_lead {
  letter-spacing: 0.05rem;
}

div.contactform_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
div.contactform_body input,
div.contactform_body textarea {
  width: 100%;
  margin-top: 0.5rem;
}
div.contactform_body div.contactform-input {
  width: 70%;
}
div.contactform_body p {
  margin-bottom: 2rem;
}
div.contactform_body p label span.required {
  color: white;
  font-size: 14px;
  background: #BE1E1E;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 0.5rem;
  font-weight: bold;
}
div.contactform_body p label span.not-required {
  background: #b3b3b3;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 0.5rem;
  font-weight: bold;
}
div.contactform_body .inquiry-type {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
div.contactform_body .inquiry-type input {
  width: 20px;
  margin-top: 2rem;
}
div.contactform_body .contactform_submit p input {
  background-image: linear-gradient(-45deg, #0788c4, #1967b1) !important;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
  padding: 30px;
}
div.contactform_body .contactform_submit p input:hover {
  transform: translateY(3px);
  transition-duration: 0.5s;
}

@media screen and (max-width: 511.98px) {
  .contactform_submit {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  div.contactform_body div.contactform-input {
    width: 100%;
  }
}
@media screen and (max-width: 1023.98px) {
  div.contactform_body .inquiry-type {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  div.contactform_body input,
  div.contactform_body textarea {
    width: 100%;
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .contactform_submit {
    width: 48%;
  }
}
.form-assessment_lead .form-assessment_leadtxt {
  padding-left: 1em;
  text-indent: -1em;
}

.form-assessment_main_form {
  border: 0.1px solid #1C69AE;
  background-color: #F3FAFF;
  border-radius: 12px;
  padding: 3rem;
}
.form-assessment_main_form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-assessment_main_form p label span.required {
  color: white;
  font-size: 14px;
  background: #BE1E1E;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 0.5rem;
  font-weight: bold;
  line-height: 3rem;
}
.form-assessment_main_form p label span.not-required {
  background: #b3b3b3;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 0.5rem;
  font-weight: bold;
  line-height: 3rem;
}
.form-assessment_main_form input {
  width: 100%;
  background-color: white;
}
.form-assessment_main_form .assessment-form_customer-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
.form-assessment_main_form textarea {
  background-color: white;
  height: 200px;
  width: 100%;
}
.form-assessment_main_form input.wpcf7-submit {
  padding: 10px 100px;
  border-radius: 6px;
  background-color: #1C69AE;
  color: white;
  font-weight: 700;
}
.form-assessment_main_form input.wpcf7-submit:hover {
  transform: translateY(3px);
  transition-duration: 0.5s;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .form-assessment_lead .form-assessment_leadappeal span.swl-fz {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 767.98px) {
  .form-assessment_lead .custom-h3 span.swl-fz {
    font-size: 20px !important;
  }
  .form-assessment_lead .form-assessment_leadappeal span.swl-fz {
    font-size: 18px !important;
  }
  .form-assessment_main_form {
    padding: 2rem 1rem;
  }
  .form-assessment_main_form textarea {
    width: 100%;
  }
}
.resale_lead,
.retech_lead {
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

.resale-lead-inner p,
.retech-lead-inner p {
  letter-spacing: 0.04rem;
}

@media screen and (max-width: 767.98px) {
  .resale_lead,
  .retech_lead {
    margin-top: 3rem;
    text-align: left;
  }
}
@media screen and (min-width: 1536px) {
  .resale-lead .resale-lead-inner p span.swl-fz {
    font-size: 24px !important;
  }
  .resale-head p span.swl-fz,
  .ibuyer-detail p span.swl-fz {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 1536px) {
  .retech-lead .retech-lead-inner p span.swl-fz {
    font-size: 24px !important;
  }
  .retech-head p span.swl-fz,
  .ibuyer-detail p span.swl-fz {
    font-size: 18px !important;
  }
}
div.member-grid article.member-info a.card-inner h2.name {
  width: 100%;
  font-size: 20px;
  color: #1C69AE;
  padding: 0.2rem 0;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(90deg, #1C69AE 0 20%, #dedede 20%);
  background-repeat: no-repeat;
  background-size: 100% 5%;
  background-position: bottom;
  font-weight: bold;
}
div.member-grid article.member-info a.card-inner p.position {
  color: #1C69AE;
}
div.member-grid article.member-info div.more-link {
  text-align: center;
  background-color: #13ACAF;
  border-radius: 4px;
  padding: 5px;
  margin: 1rem auto;
}
div.member-grid article.member-info div.more-link:hover {
  background-color: #78c6c8;
  transition-duration: 0.5s;
}
div.member-grid article.member-info div.more-link a {
  color: white !important;
  font-weight: 900;
  font-size: 14px;
}
div.member-grid article.member-info div.more-link a:hover {
  letter-spacing: 0.15em;
  transition-duration: 0.5s;
}

@media screen and (min-width: 768px) {
  h1.name {
    font-size: 32px;
    color: #1C69AE;
    padding: 0.2rem 0;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(90deg, #1C69AE 0 20%, #dedede 20%);
    background-repeat: no-repeat;
    background-size: 100% 5%;
    background-position: bottom;
    font-weight: bold;
  }
  article.member-single p.position {
    font-weight: 700;
    font-size: 20px;
  }
  article.member-single div.cols {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
  }
}
.ex-archive__cats h2.widget__title {
  text-align: center;
  position: relative;
  padding: 0.5rem 0 2rem;
  margin-bottom: 0.5rem;
  font-size: 24px;
  color: #1a7bdf;
}
.ex-archive__cats h2.widget__title::before {
  position: absolute;
  border-bottom: 2px solid #1C69AE;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  content: "";
}
.ex-archive__cats ul li a {
  color: #333333;
}
.ex-archive__cats ul li a:hover {
  color: #13ACAF;
}

.ex-archive #main .widget h2.widget__title {
  text-align: center;
  position: relative;
  padding: 0.5rem 0 2rem;
  margin-bottom: 0.5rem;
  font-size: 24px;
  color: #1a7bdf;
}
.ex-archive #main .widget h2.widget__title::before {
  position: absolute;
  border-bottom: 2px solid #1C69AE;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  content: "";
}
.ex-archive #main .widget ul li a {
  color: #333333;
}
.ex-archive #main .widget ul li a:hover {
  color: #13ACAF;
}

.ex-archive_leadtxt p {
  text-align: center;
  font-size: 18px;
  margin: 5rem auto;
  letter-spacing: 0.05rem;
}

.ex-card,
.tx-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.25s ease;
  background: #fff;
}
.ex-card img,
.tx-card img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease;
}
.ex-card img:hover,
.tx-card img:hover {
  transform: scale(1.03);
}
.ex-card ::after,
.tx-card ::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(29, 103, 173, 0.1);
  mix-blend-mode: normal;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}
.ex-card :hover ::after,
.tx-card :hover ::after {
  opacity: 1;
}

.ex-card__body .ex-card__cats,
.ex-card__body .tx-cats,
.tx-body .ex-card__cats,
.tx-body .tx-cats {
  margin-bottom: 0.5rem;
  background-image: linear-gradient(90deg, #1C69AE 0 20%, #dedede 20%);
  background-repeat: no-repeat;
  background-size: 100% 5%;
  background-position: bottom;
  padding-bottom: 0.5rem;
}
.ex-card__body .ex-card__cats a,
.ex-card__body .tx-cats a,
.tx-body .ex-card__cats a,
.tx-body .tx-cats a {
  color: #333333;
}
.ex-card__body h2.ex-card__title a,
.ex-card__body h2.tx-title a,
.tx-body h2.ex-card__title a,
.tx-body h2.tx-title a {
  color: #333333;
}
.ex-card__body h2.ex-card__title a:hover,
.ex-card__body h2.tx-title a:hover,
.tx-body h2.ex-card__title a:hover,
.tx-body h2.tx-title a:hover {
  color: #13ACAF;
}

.c-section dl.c-table dt {
  position: relative;
}
.c-section dl.c-table dt::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1em;
  background-color: #1C69AE;
}
.c-section a.c-btn.c-btn--primary,
.c-section a.c-btn.c-btn--outline {
  width: 350px;
  padding: 2rem;
  background-image: linear-gradient(45deg, rgb(28, 124, 233), rgb(90, 165, 250));
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
}
.c-section a.c-btn.c-btn--primary i,
.c-section a.c-btn.c-btn--outline i {
  margin-right: 0.5rem;
}
.c-section a.c-btn.c-btn--primary:hover,
.c-section a.c-btn.c-btn--outline:hover {
  transform: translateY(3px);
  transition-duration: 0.5s;
}

@media screen and (max-width: 511.98px) {
  .c-section dl.c-table dt:first-child::after {
    height: 3rem;
  }
}
@media screen and (max-width: 767.98px) {
  .c-section a.c-btn.c-btn--primary,
  .c-section a.c-btn.c-btn--outline {
    width: 300px;
    font-size: 16px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023.98px) {
  .c-section a.c-btn.c-btn--primary,
  .c-section a.c-btn.c-btn--outline {
    width: 300px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .l-container.ex-single h1.p-entry__title {
    font-size: 32px;
    color: #1C69AE;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(90deg, #1C69AE 0 20%, #dedede 20%);
    background-repeat: no-repeat;
    background-size: 100% 5%;
    background-position: bottom;
  }
}
@media screen and (max-width: 767.98px) {
  .-img .c-headLogo__link {
    display: flex;
    align-items: center;
  }
  .-img .c-headLogo__link .c-headLogo__img {
    height: 60%;
  }
}
header.member-archive__head {
  margin: 5rem auto;
}

h1.member-archive__title,
p.member-archive__sub {
  text-align: center;
}

p.member-archive__sub {
  margin-top: 10px;
}

div.member-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
div.member-grid article.member-info {
  width: 25%;
  margin-bottom: 3rem;
}
div.member-grid article.member-info a.card-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 511.98px) {
  div.member-grid {
    flex-direction: row;
  }
  div.member-grid article.member-info {
    width: 100%;
  }
}
.companyinfo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.companyinfo-wrapper .companyinfo-row {
  border-bottom: 1px solid #e4e0e0;
  padding-bottom: 1rem;
  gap: 80px !important;
}

@media screen and (max-width: 1023.98px) {
  .companyinfo-wrapper .companyinfo-row {
    gap: 5px !important;
  }
  .companyinfo-wrapper .companyinfo-row p.has-text-align-right {
    text-align: left !important;
  }
}
.ex-archive__cats ul {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-bottom: 4rem;
}
.ex-archive__cats ul li {
  position: relative;
  padding: 0 1em;
}
.ex-archive__cats ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1em;
  background-color: #949494;
}

.ex-archive #main .widget ul {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-bottom: 4rem;
  color: #333333 !important;
}
.ex-archive #main .widget li {
  position: relative;
  padding: 0 1em;
}
.ex-archive #main .widget li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1em;
  background-color: #949494;
}

@media screen and (min-width: 1024px) {
  .l-container.ex-single {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    gap: 50px;
  }
  aside.l-sidebar {
    position: relative;
    top: 5rem;
  }
  aside.l-sidebar h2.widget__title {
    margin: 1rem auto 0 auto;
  }
  aside.l-sidebar ul {
    line-height: 1.8rem;
  }
}
@media screen and (max-width: 1023.98px) {
  aside.l-sidebar h2.widget__title {
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=style-override.css.map */
